<div class="guide-detail" [ngClass]="{'rg-recommended': (guide.recommended_for_subject !== 'false')}">
    <span *ngIf="(guide.recommended_for_subject !== 'false')"
          class="rg-recommended-label">Recommended guide</span>
    <a href="{{guide.guide_href}}" class="guide-heading">{{guide.name}}</a><br>
    <span class="text-smallest ">Keywords: </span>
    <span class="tag" *ngFor="let keyword of guide.keywords"><a
            [routerLink]="['/keywords/' + keyword[0] + '/', keyword]" [routerLinkActive]="['hue-50-yellow']">{{ keyword }}</a></span>
    <br>
    <span class="text-smallest">Subjects:</span>
    <span class="tag" *ngFor="let subject of guide.subjects"> <a [routerLinkActive]="['hue-50-yellow']"
                                                                 [routerLink]="['/subjects', subject]">{{ subject }}</a></span>
    <div *ngIf="guide.data_available_on_partner" class="provider-label text-smallest">Available on:<br><div class="{{ guide.data_available_on_partner }}" title="These records are available on {{ guide.data_available_on_partner.split('-').join('') }}.co.uk"></div></div>
</div>
