<div class="box"><!-- PAGE HEADING and INTRODUCTION -->
  <div class="breather">
    <h2 class="increase margin-bottom-medium">A-Z index</h2>
  </div><!-- end breather -->

  <!-- STEP 1 - A-Z -->
  <div class="width-full margin-none hue-grey-light clr">
    <div class="breather">
      <h3 class="margin-none pad-large">Step 1 - Select a letter to browse keywords</h3>
      <div class="disc-container">
        <ul id="menu-disc">
          <li *ngFor="let aToZItem of aToZ">
            <a *ngIf="aToZItem.available" [routerLinkActive]="['selected']" [routerLink]="['/keywords', aToZItem.letter]">{{ aToZItem.letter | uppercase }}</a>
            <span *ngIf="!aToZItem.available" class="disabled">{{ aToZItem.letter | uppercase }}</span>
          </li>
        </ul>
      </div><!-- end disc-container -->
    </div><!-- end breather -->
  </div><!-- end width-full -->
  <div *ngIf="selectedKeywordStartingLetter" id="step-two" class="width-full bg-blue margin-none step-two">
    <h3 class="margin-none pad-large pad-bottom-none">Step 2 - Select a keyword starting with {{ selectedKeywordStartingLetter | uppercase }}</h3>
    <div class="breather clr">
      <div id="desktop-keywords">
        <ul class="no-bullet border-none keywords-selectable clr">
          <li *ngFor="let keyword of keywords | keywordStartingLetter: selectedKeywordStartingLetter">
            <a [routerLink]="[('/keywords/' + selectedKeywordStartingLetter), keyword]">{{ keyword }}</a>
          </li>
        </ul>
      </div><!-- end desktop-keywords -->
      <!-- end mobile-keywords -->
    </div><!-- end breather -->

  </div>
  <div *ngIf="selectedKeywordStartingLetter && selectedKeyword" class="breather">
    <h3 class="margin-none float-left width-full-to-auto">How to look for records of...</h3>
    <div class="resource-results clr">
      <!-- results go here -->
      <ul>
        <li *ngFor="let researchGuide of (researchGuides | guidesWithKeyword: selectedKeyword | recommendedFirst)">
          <app-guide-detail [guide]="researchGuide"></app-guide-detail>
        </li>
      </ul>
    </div><!-- end resource-results -->
  </div><!-- end breather -->
</div>
